sudo: required
language: node_js
node_js:
  - "6.1"
cache:
  yarn: true
  directories:
    - node_modules
install:
  - npm install -g serverless
  - yarn install
script:
  - yarn test
deploy:
  - provider: script
    script: bash scripts/deploy.sh
    on:
      branch: master